@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media query
@mixin respond($breakpoint) {

    // for phones (<= 600px)
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {   
          @content;
        }
    }

    // for portrait tablets (<= 900px)
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {
          @content;
        }
    }

    // for landscape tablets (<=1200px)
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {
          @content;
        }
    }

    // for big-desktops (> 1800px)
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {
          @content;
        }
    }
}
